/* The LESS stylesheet provides the ability to define styling styles that can be used to style the UI in the MDK app.

Examples:

@mdkYellow1: #ffbb33;
@mdkRed1: #ff0000;

//// By-Type style: All Pages in the application will now have a yellow background
Page

{ background-color: @mdkYellow1; }
//// By-Name style: All Buttons with _Name == "BlueButton" will now have this style
#BlueButton

{ color: @mdkYellow1; background-color: #0000FF; }
//// By-Class style: These style classes can be referenced from rules and set using ClientAPI setStyle function

.MyButton

{ color: @mdkYellow1; background-color: @mdkRed1; }
*/
.tagStyleBlue {
    color: #edf6fa;
    background-color: #2a09d1;
}

//// style for Page background
.Pagebkg {
    color: #EBF8FF;
}

//// This style applies to all the ActionBars in the application
ActionBar {
    color: white;
    /* background-color: #0040B0; */
    background-color: #006BB8;
}

//// style for Title property of an Object Table control
.ObjectTableTitle {
    color: #0070F2;
    /* background-color: #06304979; */
}

.DelvItemTitle {
    color: white;
    background-color: #046C7A;
    font-size: medium;
}

.MainFOTitle {
    color: #1b90ff;
    background-color: #edf6fa;
}

.StopTitle {
    color: white;
    /* background-color: #1a60b1; */
    background-color: #006BB8;
    font-size: medium;
}

.SrcLoc_Title {
    color: #E76500;
    background-color: #E76500;
}

.DestLoc_Title {    
    color: #188918;
    background-color: #188918;
}